$color-green: rgb(93, 230, 212);
$color-gray: rgb(189, 206, 203);


.box {
    display: flex;
    justify-content: center;
    .field {
        padding: 10px;
        border: 2px solid $color-gray;
        width: 300px;
        height:150px;
        margin-left:auto;
        align-items: center;
        margin: 20px;
    }

    h3 {
        margin-left:10px;
        color: $color-green;
    }
}