
<div class="container box">
    <div class="row my-4">
        <h3> Home page</h3>
        <div class="col-6 rounded field " >
            <h4>Statistic box</h4>
            <p>Number of players: {{ numberOfPlayers }}</p>
            <p>Summa wage: {{ sumOfWage }}</p>
        </div>

        <div class="col-6 rounded field">
            <h4>Wage info</h4>
            <p>Highest payed player: 
            {{ highestPlayersName }}
            </p>
            <p>Wage: {{ highestPlayerWage }} </p>
        </div>
    </div>
</div>