<ul class="list-group">
    <li class="list-group-item"><span>Title:</span>  {{selectedToDo?.title}}</li>
    <li class="list-group-item"><span>Status:</span> {{selectedToDo?.progress}}</li>
    <li class="list-group-item"><span>Details:</span> {{selectedToDo?.description}}</li>
    <li class="list-group-item"><span>Creation date:</span> {{selectedToDo?.date}}</li>
    <li class="list-group-item"><span>Username:</span> {{findUserName(selectedToDo?.user_id)}}</li>
    <li class="list-group-item"><span>Email:</span> {{findUserEmail(selectedToDo?.user_id)}}</li>
</ul>
