<!-- <div class="container">
  <table class="table table-striped">
    <thead>
      <tr scope="row">
        <th>id</th>
        <th>title</th>
        <th>progress</th>
        <th>user name</th>
        <th>user id</th>
      </tr>
    </thead>
    <tbody>
      <tr
        [app-todo-item]
          *ngFor="let item of todos"
          [todoItem]="item"
          (click)="showTodoDetails(item)"
        >
      </tr>

        <app-todo-details>
        </app-todo-details>

    </tbody>
  </table>
</div> -->

<!-- <div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">progress</th>
        <th scope="col">user name</th>
      </tr>
    </thead>
    <tbody> -->
      <!-- tr - (click)="valamifgv(item)" -->
      <!-- <tr *ngFor="let item of todos">
        <app-todo-item
          [todoItem]="item"
        ></app-todo-item>
      </tr>
    </tbody>
  </table>
</div> -->


<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th (click)="this.sortingService.sortProgress()">Progress
          <span *ngIf="this.sortingService.isAscending">⬆️</span>
          <span *ngIf="!this.sortingService.isAscending">⬇️</span>
        </th>
        <th scope="col">Date</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      <tr app-todo-item *ngFor="let todo of this.sortingService.todos" [todoItem]="todo" (click)="showTodoDetails(todo)"></tr>

    </tbody>
  </table>
</div>
<!-- details komponens helye [itemDetails]="chosenItem" -->

<app-todo-details [details]="item"></app-todo-details>
