


<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th (click)="this.sortingService.sortProgress()">Progress
          <span *ngIf="this.sortingService.isAscending">⬆️</span>
          <span *ngIf="!this.sortingService.isAscending">⬇️</span>
        </th>
        <th scope="col">Date</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      <tr app-todo-item *ngFor="let todo of this.sortingService.todos" [todoItem]="todo" (click)="showTodoDetails(todo)"></tr>

    </tbody>
  </table>
</div>


<app-todo-details [details]="item"></app-todo-details>

