<tr *ngFor="let item of todoService.todoItems; let i = index">
  <td scope="row">{{item.id}}</td>
  <td>{{item.title}}</td>
  <td>{{item.progress}}</td>
  <td *ngFor="let item of todoService.todoItems[i].user_id">{{item.name}}</td>
  <td
    class="makeMePointable short"
    (click)="tableDataClicked(item)"
    [routerLink]="['/todoApp/todo-details']"
  >
    🔍
  </td>
  <td class="makeMePointable short" (click)="todoService.removeThisItem(item)">❌</td>
  <td class="makeMePointable short" (click)="todoService.updateProgressOfitem(item)">▶</td>
</tr>
