.error-cont{
    min-height: 50px;
    color: red;
    text-align: center;
}
h3{
    font-size: 25px;
}
.sign-up-container{
    width: 100%;
    min-height: calc(100vh - 57px);
    background-image: url('https://images5.alphacoders.com/711/711093.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}
.container{
    width: 100%;
    max-width: 400px;
    font-size: 14px;
    border-radius: 10px ;
    padding: 25px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
