<!-- <tr>
    <th scope="row">{{item.id}}</th>
    <td>{{item.title}}</td>
    <td>{{item.progress}}</td>
    <td>{{item.user_id}}</td>
</tr> -->

<th scope="row">{{ todo.id }}</th>
<td>{{ todo.title }}</td>
<td>
  {{ todo.progress }}
  <!--   (click)="changeProgressStateEmmiter.emit(todo)"
 -->
  <button
    (click)="changeProgressState(todo.id)"
    type="button"
    style="margin: 0 25px"
    class="btn btn-primary btn-sm"
  >
    🖊
  </button>
</td>
<td>{{ (findUser(todo.user_id) | async)?.name }}</td>
