div {
  width: 50%;
  margin: 3%  auto;
  padding: 1rem;
}

table {
  width: 100%;
  margin: 2% auto;
}

th {
  padding: 2% 0;
  text-align: left;
}

td {
  padding: 1% 0;
  /* border: 1px solid; */
}
