<!-- <div class="nav-container bg-dark">
  <nav
    class="navbar navbar-dark bg-dark"
    style="margin: auto; max-width: 1200px"
  >
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">{{ title }}</a>
      <div class="d-flex">
        <a class="nav-link p-2 text-white" [routerLink]="['/list']">List</a>
        <a class="nav-link p-2 text-white" [routerLink]="['/signup']">
          Sign-up
        </a>
      </div>
      

      <span class="navbar-brand">{{ counter }}</span>
    </div>
  </nav>
</div>
 -->

<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Todo App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!userIsLogedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/sign-in']">Sign-in</a>
        </li>
        <li *ngIf="!userIsLogedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/sign-up']">Sign-up</a>
        </li>
        <li *ngIf="userIsLogedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/todo']">Todo</a>
        </li>
        <li *ngIf="userIsLogedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/todo/new']">New Todo</a>
        </li>
        <li *ngIf="userIsLogedIn" class="nav-item">
          <a (click)="signOut()" class="nav-link" [routerLink]="['/']"
            >Sign-out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
