<div class="sign-up-container">
  <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit(f)">
    <h2>Sign Up</h2>
    <div class="form-group">
      <label for="">Firstname</label>
      <input
        formControlName="firstname"
        placeholder="Firstname"
        type="text"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">Lastname</label>
      <input
        formControlName="lastname"
        placeholder="Lastname"
        type="text"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">Username*</label>
      <input
        formControlName="username"
        placeholder="Username"
        type="text"
        class="form-control"
      />
      <div
        *ngIf="username.touched && username.errors?.['required']"
        class="alert alert-danger"
      >
        Username is required.
      </div>
      <div *ngIf="username.errors?.['minlength']" class="alert alert-danger">
        Username must be atleast 3 characters
      </div>
    </div>

    <div class="form-group">
      <label for="">Zip Code</label>
      <input
        formControlName="zip"
        placeholder="Zip Code"
        type="text"
        class="form-control"
      />
      <div
        *ngIf="zip.hasError('minlength') || zip.hasError('maxlength')"
        class="alert alert-danger"
      >
        ZIP code can be only 4 or 5 numbers
      </div>
    </div>

    <div class="form-group">
      <label for="">Password*</label>
      <input
        formControlName="password"
        placeholder="Password"
        type="password"
        class="form-control"
      />
      <div
        *ngIf="password.touched && password.errors?.['required']"
        class="alert alert-danger"
      >
        Password is required.
      </div>
      <div *ngIf="password.errors?.['minlength']" class="alert alert-danger">
        Password must be minimum 8 characters
      </div>
      <div *ngIf="password.errors?.['pattern']" class="alert alert-danger">
        Password must contain atleast 1 of these characters (-- # @ . * --)
      </div>
    </div>
    <div class="form-group">
      <label for="">Passwordre*</label>
      <input
        formControlName="passwordre"
        placeholder="Passwordre"
        type="password"
        class="form-control"
      />
      <div
        *ngIf="passwordre.touched && passwordre.errors?.['required']"
        class="alert alert-danger"
      >
        Passwordre is required
      </div>
      <div
        *ngIf=" passwordre.valid && form.invalid && form.errors?.['passwordsShouldMatch']"
        class="alert alert-danger"
      >
        Passwords do not match!
      </div>
    </div>

    <button class="btn btn-primary mb-0" [disabled]="!f.valid">Sign Up</button>
  </form>
</div>
