<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <!-- <th *ngFor="let input of inputs" scope="col">{{ input }}</th> -->
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col" (click)="onRenderByProgress()">
        progress
        <span  *ngIf="!renderByProgressDown; else elseBlock">
          🔽
        </span >
        <ng-template #elseBlock
        
          >
          <span >
            🔼
          </span >
          </ng-template
        >
      </th>
      <th scope="col">user name</th>
    </tr>
  </thead>

  <tbody>
    <tr
      app-todo-item
      [class.table-active]="(i + 1) % 2 == 0"
      *ngFor="let todo of todos; let i = index"
      [users]="users"
      [todo]="todo"
      (click)="handleSelectClick(todo)"
      (changeProgressStateEmmiter)="changeProgressStateEmmiter.emit($event)"
    ></tr>
  </tbody>
</table>
