h2{
    text-align: center;
    margin: 30px auto;
}
div {
    width: 50%;
    margin: 30px auto;
    box-shadow: 4px 4px 6px 0 rgba(107, 92, 92, 0.5);
    padding: 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
}

form {
    width: 80%;
    margin: 2% auto;
}

label, input {
    display: block;
    width: 80%;
    margin: 2% auto;
    text-align: center;
}

input {
    border-radius: 5px;
    border: 1px solid lightgrey
}

button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    width: 40%
}
