div {
    width: 50%;
    margin: 0 auto;
    box-shadow: 4px 4px 6px 0 rgba(74, 74, 74, 0.474);
    padding: 1rem;
}
form{
    width: 80%;
    margin: 2% auto;
}
label, input {
    display: block;
    width: 80%;
    margin: 2% auto;
    text-align: center;
}