<table class="table">
  <tbody>
      <tr class="go-right" (click)="onClickClose()">❌</tr>
      <tr class="col">Title:   {{todoItem?.title}}</tr>
      <tr class="col">Status:  {{todoItem?.progress}}</tr>
      <tr class="col">Details:  {{todoItem?.description}}</tr>
      <tr class="col">Creation Date:  {{todoItem?.date}}</tr>
      <tr class="col" *ngFor="let item of todoItem?.user_id ">User:  {{item.name}}</tr>
      <tr class="col" *ngFor="let item of todoItem?.user_id ">Email:  {{item.email}}</tr>
      <tr class="col" *ngFor="let item of todoItem?.subTodos ">Sub-todos::  {{item.title}}</tr>
    </tbody>
</table>


