.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 429px;
  height: 55px;
  left: -27px;
  top: 757px;

  background: #ffffff;
}
.footer-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
  width: 61px;
  height: 56px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;

  width: 61px;
  height: 56px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;

  width: 61px;
  height: 56px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
img {
  width: 61px;
  height: 29px;

  /* v-icon/dense */

  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  display: flex;
  align-items: center;
  text-align: center;

  /* black/0.6 */

  color: rgba(0, 0, 0, 0.6);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
