<div class="container">
  <div class="row mt-5">
    <button class="btn btn-primary m-3 px-4" (click)="unit = 'GB'">GB</button>
    <button class="btn btn-primary m-3 px-4" (click)="unit = 'MB'">MB</button>
  </div>
  <div class="row">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">File name</th>
          <th scope="col">Modify date</th>
          <th scope="col">File size</th>
          <th scope="col">Extension</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ this.file.name! | file }}</td>
          <td>{{ this.file.modifyDate | date: "yyyy-mm-dd" }}</td>
          <td>{{ this.file.size! | fileSize: unit }}</td>
          <td>{{ this.file.name! | fileDot }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
