<div class="container">
  <div class="row mt-5">
    <div class="form-check form-check-inline">
      <input
        (click)="fileToGbClicked()"
        class="form-check-input"
        type="checkbox"
        value="fileToGb"
        id="fileToGb"
      />
      <label class="form-check-label" for="fileToGb">GB</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        (click)="fileToMbClicked()"
        class="form-check-input"
        type="checkbox"
        value="fileToMb"
        id="fileToMb"
      />
      <label class="form-check-label" for="fileToMb">MB</label>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">File name</th>
          <th scope="col">Modify date</th>
          <th scope="col">File size</th>
          <th scope="col">Extension</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ this.file.name! | file }}</td>
          <td>{{ this.file.modifyDate | date: "yyyy-mm-dd" }}</td>
          <ng-container *ngIf="fileToMbClicked">
            <td>{{ this.file.size! | filemb | number: "1.0-3" }}</td>
          </ng-container>
          <ng-container *ngIf="fileToGbClicked">
            <td>{{ this.file.size! | filegb | number: "1.0-3" }}</td>
          </ng-container>
          <td>{{ this.file.name! | fileDot }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
