<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/feladat-1">User App</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/feladat-1" [routerLinkActive]="'active'">Feladat 1</a>
        <a class="nav-item nav-link" routerLink="/feladat-2" [routerLinkActive]="'active'">Feladat 2</a>
        <a class="nav-item nav-link" routerLink="/feladat-3" [routerLinkActive]="'active'">Feladat 3</a>
        <a class="nav-item nav-link" routerLink="/feladat-4" [routerLinkActive]="'active'">Feladat 4</a>
        <a class="nav-item nav-link" routerLink="/feladat-5" [routerLinkActive]="'active'">Feladat 5</a>
      </div>
    </div>
  </nav>
