<h2>Sign Up</h2>

<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid"></div>
      <div class="form-group">
      <label for="firstname">Firstname</label>
      <input
      minlength="4"
      maxlength="20"
      ngModel id="firstname"
      #firstName="ngModel"
      id="firstname"
      (change)="log(firstName)"
      name="firstname"
      type="text"
      class="form-control">
    </div>
  </div>
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid"></div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input
        minlength="4"
        maxlength="20"
        ngModel id="lastName"
        id="lastname"
        (change)="log(lastname)"
        #lastname="ngModel"
        name="lastname"
        type="text"
        class="form-control">
  </div>
</div>
    <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid"></div>
    <div class="form-group">
        <label for="username">Username*</label>
        <input
        required
        minlength="4"
        maxlength="20"
        ngModel id="username"
        id="username"
        (change)="log(userName)"
        #userName="ngModel"
        name="username"
        type="text"
        class="form-control">
        <div
        class="alert alert-danger"
        *ngIf="userName.touched && !userName.valid">
        <div
        *ngIf="userName.errors?.['required']">
        Username is required!
        </div>
        <div
          *ngIf="userName.errors?.['minlength']">
          Username should be minimum 4 characters!
        </div>
        <div
          *ngIf="userName.errors?.['maxlength']">
          Username should be maximum 20 characters!
        </div>
        </div>
    </div>
  </div>
    <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid"></div>
    <div class="form-group">
        <label for="zip">ZIP</label>
        <input
        maxlength="4"
        pattern="/0-9/"
        ngModel id="zip"
        id="zip"
        (change)="log(zip)"
        #zip="ngModel"
        name="zip"
        type="text"
        class="form-control">
    </div>
  </div>
    <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid"></div>
    <div class="form-group">
        <label for="password">Password*</label>
        <input
        required
        ngModel id="password"
        id="password"
        (change)="log(passWord)"
        #passWord="ngModel"
        name="password"
        type="text"
        class="form-control">
        <div class="alert alert-danger"
        *ngIf="passWord.touched && !passWord.valid">
        Password is required
        </div>
      </div>
    </div>
    <div ngModelGroup="contact" #contact="ngModelGroup">
      <div *ngIf="!contact.valid"></div>
        <div class="form-group">
        <label for="passwordre">Passwordre*</label>
        <input
        required
        ngModel
        id="passwordre"
        (change)="log(passwordre)"
        #passwordre="ngModel"
        name="passwordre"
        type="text"
        class="form-control">
        <div>Passwords must be the same</div>
    </div>
  </div>
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" ngModel name="isSignUp"> Sign up to Todo list!
      </label>
  </div>
    <p>
      {{f.value | json}}
    </p> -->
      <button class="btn btn-primary" [disabled]="!f.valid"> Sign Up</button>
</form>

