.historyText_container {
  border: 1px solid black;
  border-radius: 4px;
}

.popup-container {
  position: absolute;
  top: 74px;
  right: 50px;
  border: 1px solid rgb(255, 44, 234);
  border-radius: 4px;
}
