<div class="row w-80">
    <div class="col-xs-12">
        <table class="table table-bordered my-3">
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col-2">Id</th>
                <th scope="col-4">Name</th>
                <th scope="col-3">Username</th>
                <th scope="col-3">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users$ | async">
                <th scope="row"> {{ user.id }} </th>
                <td > {{ user.name }} </td>
                <td> {{ user. username }} </td>
                <td> {{ user.email }} </td>
              </tr>
            </tbody>
          </table>

    </div>
</div>

