<div class="navbar bg-dark text-light">
    <h1 class="px-3">Typing RxJs Game</h1>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center m-5">
        <app-counter></app-counter>
    </div>
    <!-- <div class="d-flex justify-content-center m-5">
      <app-display></app-display>
    </div>
    <div class="d-flex justify-content-center m-5">
      <app-typing-field></app-typing-field>
    </div>
    <div class="d-flex justify-content-center m-5">
      <app-score></app-score>
    </div> -->
  </div>
