<h2>Custom validation</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="usernameInput">Username*</label>
    <input
      id="usernameInput"
      class="form-control"
      [class.is-invalid]="
        myForm.get('username')?.touched && myForm.get('username')?.invalid
      "
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
    />

    <ng-container *ngFor="let error of getErrorMessages(username)">
      <p class="invalid-feedback" *ngIf="username?.touched"> {{ error }} </p>
    </ng-container>

  </div>

  <div class="mb-3">
    <label class="form-label" for="passwordInput">password*</label>
    <input
      id="passwordInput"
      class="form-control"
      [class.is-invalid]="
        myForm.get('password')?.touched && myForm.get('password')?.invalid
      "
      type="password"
      name="password"
      placeholder="password"
      formControlName="password"
    />
    <p
      class="invalid-feedback"
      *ngIf="
        myForm.get('password')?.touched &&
        myForm.get('password')?.hasError('required')
      "
    >
      Required field
    </p>
    <p
      class="invalid-feedback"
      *ngIf="
        myForm.get('password')?.touched &&
        myForm.get('password')?.hasError('minlength')
      "
    >
      Min length 4
    </p>
  </div>
  <div class="mb-3">
    <label class="form-label" for="passwordreInput">passwordre*</label>
    <input
      id="passwordreInput"
      class="form-control"
      [class.is-invalid]="
        myForm.get('passwordre')?.touched && myForm.get('passwordre')?.invalid
      "
      type="password"
      name="passwordre"
      placeholder="passwordre"
      formControlName="passwordre"
    />
    <p
    class="invalid-feedback"
    *ngIf="
      myForm.get('passwordre')?.hasError('invalidPassword')
    "
  >
    Passwords must be the same!
  </p>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
