<div class="container m-4">
  <button class="btn btn-primary m-3 px-4" (click)="unit='GB'">GB</button>
  <button class="btn btn-primary m-3 px-4" (click)="unit='MB'">MB</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Modify date</th>
        <th scope="col">File size</th>
        <th scope="col">Extension</th>
        <th scope="col">Elapsed seconds</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file.name | extension:false }}</td>
        <td>{{ file.modifyDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ file.size | fileSize:unit }}</td>
        <td>{{ file.name | extension }}</td>
        <td>{{ file.modifyDate | elapsedSeconds }}</td>
      </tr>
    </tbody>
  </table>
</div>
