.begrey {
    background-color: grey;
  }


.col {
    text-align: center;
  }

  
.centerThis{
    text-align: center;
  }

  table{
    margin-top: 100px;
  }

  .near{
    display: flex;
    justify-content: space-around;
  }