<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-md">
    <a class="navbar-brand" href="#">Todo Table</a>
  </div>

  <!-- <div class="nav-item">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="p-1">
        <label for="todoInput" class="form-label">Todo:</label>
        <input id="todoInput" type="text" class="form-control" name="todo" placeholder="todo" ngModel>
      </div>
      <button type="submit" class="btn btn-info">➕</button>
    </form>
  </div> -->

  <div>
    <form class="d-flex" [formGroup]="myForm" (ngSubmit)="handleButton()">
      <div class="p-1">
        <label for="todoInput" class="form-label">Todo:</label>
        <input id="todoInput" type="text" class="form-control" name="todo" formControlName="todo">
      </div>
      <button type="submit" class="btn btn-info">➕</button>
    </form>
  </div>


  <div class="mx-auto">
    In progress: {{ inProgressNumber }}
  </div>
</nav>

<div class="row">
  <div class="col-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col" (click)="progressSort()">progress
            <span *ngIf="isAscending">⬆️</span>
            <span *ngIf="!isAscending">⬇️</span>
          </th>
          <th scope="col">user name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let i = index" (click)="showDetails(todo)">
          <td>{{ todo?.id }}</td>
          <td>{{ todo?.title }}</td>
          <td>{{ todo?.progress }} <a (click)="progressChange(todo)">⏩</a></td>
          <td>{{ nameUser(todo.user_id) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="isSelected">
  <app-todo-details [selectedTodo]="selectedTodo" [users]="users" [subTodos]="subTodos"></app-todo-details>
</div>
