<div class="row">
  <div class="col-10">
    <table mat-table [dataSource]="todos" class="mat-elevation-z8" matSort (matSortChange)="progressSort($event)">
    <!-- (matSortChange)="announceSortChange($event)"> -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let todo" (click)="showDetails(todo)"> {{todo.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let todo" (click)="showDetails(todo)" id="title"> {{todo.title}} </td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by progress"> Progress
          <span *ngIf="isAscending">⬆️</span>
          <span *ngIf="!isAscending">⬇️</span>
        </th>
        <td mat-cell *matCellDef="let todo" (click)="showDetails(todo)"> {{todo.progress}}
          <a (click)="progressChange(todo)">⏩</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User name </th>
        <td mat-cell *matCellDef="let todo" (click)="showDetails(todo)"> {{nameUser(todo.user_id)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


      <!-- <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col" (click)="progressSort()">
            progress
            <span *ngIf="isAscending">⬆️</span>
            <span *ngIf="!isAscending">⬇️</span>
          </th>
          <th scope="col">user name</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let todo of todos; let i = index"
          (click)="showDetails(todo)"
        >
          <td>{{ todo?.id }}</td>
          <td>{{ todo?.title }}</td>
          <td>{{ todo?.progress }} <a (click)="progressChange(todo)">⏩</a></td>
          <td>{{ nameUser(todo.user_id) }}</td>
        </tr>
      </tbody> -->

<div *ngIf="isSelected">
  <app-todo-details
    [selectedTodo]="selectedTodo"
    [users]="users"
    [subTodos]="subTodos"
  ></app-todo-details>
</div>
