
<hr>

<table class="table table-striped" style="margin: auto; max-width: 900px;" >
  <thead>
    <th scope="col">id</th>
    <th scope="col">title</th>
    <th scope="col">progress</th>
    <th scope="col">userId</th>
  </thead>
<tbody>
  <tr app-todo-item *ngFor="let todo of todo, let i = index" [todo]="todo" (click)="selectTodo(todo)" [class.bgGrey]="i%2===0">
    {{todo}}
  </tr>
    <tr>

    </tr>
</tbody>

</table>
<table class="table table-striped" style="margin: auto; max-width: 900px;">
  <tbody>
    <tr>
    <div>
      <app-details  *ngIf="isTodoSelected" [users]="getUser(selectedTodo)" [todo]="selectedTodo"></app-details>
    </div>
  </tr>
  </tbody>
</table>







<!-- <div class="row">
  <div class="col-xs-12">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th scope="col">id</th>
                  <th scope="col">title</th>
                  <th scope="col">progress</th>
                  <th scope="col">userid</th>
              </tr>
          </thead>
            <tbody>
              <tr *ngFor="let todos of todos, let i = index"></tr>

            </tbody>
      </table>

  </div>
</div> -->
