<hr />

<table
  mat-table
  class="table table-striped"
  style="margin: auto; max-width: 900px"
>
  <ng-container>
    <th mat-header-cell scope="col">id</th>
    <th mat-header-cell scope="col">title</th>
    <th mat-header-cell scope="col">progress</th>
    <th mat-header-cell scope="col">userId</th>
  </ng-container>
  <ng-container>
    <tr
      mat-cell
      app-todo-item
      *ngFor="let todo of todo; let i = index"
      [todo]="todo"
      (click)="selectTodo(todo)"
      [class.bgGrey]="i % 2 === 0"
    >
      {{
        todo
      }}
    </tr>
  </ng-container>
</table>
<table mat-table>
  <tr mat-header-cell>
    <app-details
      *ngIf="isTodoSelected"
      [users]="getUser(selectedTodo)"
      [todo]="selectedTodo"
    ></app-details>
  </tr>
</table>

<!-- <div class="cell">
  <div class="col-xs-12">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th scope="col">id</th>
                  <th scope="col">title</th>
                  <th scope="col">progress</th>
                  <th scope="col">userid</th>
              </tr>
          </thead>
            <tbody>
              <tr *ngFor="let todos of todos, let i = index"></tr>

            </tbody>
      </table>

  </div>
</div> -->
