.dashboard-container {
  position: relative;
  width: 375px;
  height: 812px;

  background: #ffffff;
}
.carousel-cards-container {
  position: absolute;
  width: 344px;
  height: 693px;
  left: 15px;
  top: 59px;
  overflow-y: scroll;
}
.carousel-cards-container::-webkit-scrollbar {
  display: none;
}
app-booking-notification{
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 4%;
}
