<h2>Form Array</h2>

<form [formGroup]="form">
  <div class="container">
    <div
      class="row"
      *ngFor="let lessonFormGroup of lessons.controls; let i=index"
      [formGroup]="getLesson(lessonFormGroup)"
    >
      <div class="col">
        <label class="form-label" for="titleInput">Title</label>
        <input
          class="form-control"
          id="titleInput"
          formControlName="title"
          type="text"
        />
      </div>
      <div class="col">
        <label class="form-label" for="levelInput">Level</label>
        <input
          class="form-control"
          id="levelInput"
          formControlName="level"
          type="text"
        />
      </div>
      <div class="col">
        <button class="btn btn-primary mt-4" (click)="deleteLesson(i)">Delete</button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mb-4" (click)="onSubmit()">Submit</button>
</form>

<button class="btn btn-primary mb-4" (click)="addLesson()">Add</button>
