
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h2>Order:</h2>
  <div class="col-md-4 mb-3">
    <label for="">*Name:</label>
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      formControlName="name"
      placeholder="Name"
    />
    <div *ngIf="false">Looks good!</div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="adressInput">*Adress:</label>
    <input
      class="form-control"
      type="text"
      name="adress"
      id="adressInput"
      placeholder="Adress"
      formControlName="adress"
    />
    <div *ngIf="false">Looks good!</div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="birthDateInput">*Birth date:</label>
    <input
      type="text"
      class="form-control"
      name="birthdate"
      id="birthDateInput"
      formControlName="birthdate"
      placeholder="Eg.: 0000/00/00"
    />
    <div *ngIf="false">Looks good!</div>
  </div>

  <div class="col-md-4 mb-3" >
    <label for="billingadressInput">Billing Adress:</label>
    <input
      class="form-control"
      type="text"
      name="billingadress"
      id="billingadressInput"
      placeholder="Adress"
      formControlName="billingadress"
    />
    <div *ngIf="false">Looks good!</div>
  </div>

  <div class="form-check form-check-inline" *ngFor="let data of myArray; let i = index">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1" (change)="onChange(data, i)" formControlName="btnSmall">
    <label  class="form-check-label" for="inlineRadio1">{{data.Namevalue}}</label>
  </div>

  <div ngbDropdown class="dropdown">
    <button
    ngbDropdownToggle
    class="btn btn-secondary"
    type="button"
    id="dropdownMenuButton1"
    aria-expanded="false"
    >
    Package
  </button>
  <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
    <div *ngFor="let data of filteredList;">
    <li *ngFor="let item of data.Value"><a ngbDropdownItem (click)="onSubmit()">{{item}}</a></li>
  </div>
  </ul>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="termAndCondInput" name="termsAndCond" formControlName="termsAndCond"/>
        <label class="form-check-label" for="termAndCondInput">
          *Terms and Conditions
        </label>
      </div>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>
