

.field {
    
    margin-left:230px;
    margin-top: 50px;
    width: 69%;
    padding: 20px 10px 20px 10px;
    background-color: rgb(182, 250, 228);

    button {
        width:100%;
    }
   
}

