<h2>Form with reactive forms</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="usernameInput">Username</label>
    <input
      [class.is-invalid]="
        this.myForm.controls['username'].invalid &&
        this.myForm.controls['username'].touched
      "
      id="usernameInput"
      class="form-control"
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
    />
    <small
      class="text-danger"
      *ngIf="
        this.myForm.controls['username'].invalid &&
        this.myForm.controls['username'].touched
      "
      >Username is required</small
    >
  </div>

  <div class="mb-3">
    <label class="form-label" for="emailInput">Email</label>
    <input
      [class.is-invalid]="
        this.myForm.controls['email'].invalid &&
        this.myForm.controls['email'].touched
      "
      id="emailInput"
      class="form-control"
      type="text"
      name="email"
      placeholder="Email"
      formControlName="email"
    />
    <small
      class="text-danger"
      *ngIf="
        this.myForm.controls['email'].invalid &&
        this.myForm.controls['email'].touched
      "
      >Email is required</small
    >
  </div>

  <button [class.disabled]="this.myForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>

Form status: {{ this.myForm.status }}
