<!-- <div class="chars-div">
  <div class="card bg-dark">
    <h3>Character 1</h3>
    <p>Name: {{char1.name}}</p>
    <p>Attack: {{char1.attack}}</p>
    <p>Defense: {{char1.defense}}</p>
    <p>HP: {{char1.hp}}</p>
  </div>
  
  <div class="card bg-dark">
    <h3>Character 2</h3>
    <p>Name: {{char2.name}}</p>
    <p>Attack: {{char2.attack}}</p>
    <p>Defense: {{char2.defense}}</p>
    <p>HP: {{char2.hp}}</p>
  </div>
</div> -->

<app-characters-select></app-characters-select>

<div class="button-div">
  <button class="btn btn-success" (click)="onAttack()">Attack!</button>
  <button *ngIf="winner" class="btn btn-warning" (click)="onReset()">Reset game</button>
</div>

<div *ngIf="winner?.value">
  <p>Winner is: {{winner.getValue()?.name}}!</p>
</div>

<div class="result-div">
  <app-text-component [historyLog]="historyLog"></app-text-component>
</div>