.modal-container {
  box-sizing: border-box;

  /* Auto layout */
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;

  position: relative;
  width: 344px;
  height: 80px;

  /* shades/white */

  background: #ffffff;
  /* custom/success */

  border: 1px solid #4caf50;
  border-radius: 4px;
}
.success-img {
  width: 24px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
p {
  width: 232px;
  height: 48px;

  /* v-text/body-1 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* custom/success */

  color: #4caf50;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.cancel-img {
  width: 24px;
  height: 24px;

  /* v-icon/medium */

  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  /* custom/success */

  color: #4caf50;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
