<h1>New Class</h1>
<h3>Class name:</h3>
<h3>Max number of students: {{ maxStudents }}</h3>
<h3>Students:</h3>
<form [formGroup]="myForm">
  <div class="container mb-4">
    <div
      class="row"
      *ngFor="let studentFormGroup of students.controls; let i = index"
      [formGroup]="getStudents(studentFormGroup)"
    >
      <div class="col">
        <div class="row">
          <label class="form-label" for="nameInput">Name:</label>
          <input
            [class.is-invalid]="
              studentFormGroup.get('name')?.touched &&
              studentFormGroup.get('name')?.invalid
            "
            class="form-control"
            id="nameInput"
            formControlName="name"
            type="text"
            required
          />
          <p class=""></p>
        </div>
        <div class="row">
          <label class="form-label" for="genderInput">Gender:</label>
          <input
            [class.is-invalid]="
              studentFormGroup.get('gender')?.touched &&
              studentFormGroup.get('gender')?.invalid
            "
            class="form-control"
            id="genderInput"
            formControlName="gender"
            type="text"
            required
          />
        </div>
        <div class="row">
          <label class="form-label" for="emailInput">Email:</label>
          <input
            [class.is-invalid]="
              studentFormGroup.get('email')?.touched &&
              studentFormGroup.get('email')?.invalid
            "
            class="form-control"
            id="emailInput"
            formControlName="email"
            type="email"
            required
          />
        </div>
        <div class="row mt-4">
          <button class="btn btn-primary mb-4" type="submit">Submit</button>
        </div>
      </div>
      <div class="col">
        <button class="btn btn-danger mt-4" (click)="deleteStudent(i)">
          Delete
        </button>
      </div>
    </div>
  </div>
</form>

<button class="btn btn-primary mb-4" (click)="addStudent()">Add student</button>
