<h2>Details</h2>

<ul class="list-group">
    <li class="list-group-item"><span>Title: </span>{{todo?.title}}</li>
    <li class="list-group-item"><span>Status: </span>{{todo?.progress}}</li>
    <li class="list-group-item"><span>Details: </span>{{todo?.description}}</li>
    <li class="list-group-item"><span>Creation date</span>{{todo?.date}}</li>
    <li class="list-group-item"><span>User: </span>{{users?.name}}</li>
    <li class="list-group-item"><span>Email: </span>{{users?.email}}</li>
</ul>
