<div class="row select-container">
  <div class="col">
    <label for="selectChar1">Select your first fighter:</label>
    <select
      class="form-select"
      name="selectChar1"
      id="selectChar1"
      [(ngModel)]="selectedChar1"
    >
      <option *ngFor="let char of characters$ | async" [ngValue]="char">
        {{ char.name }}
      </option>
    </select>
  </div>

  <div class="col">
    <label for="selectChar2">Select your second fighter:</label>
    <select
      class="form-select"
      name="selectChar2"
      id="selectChar2"
      [(ngModel)]="selectedChar2"
    >
      <option *ngFor="let char of characters$ | async" [ngValue]="char">
        {{ char.name }}
      </option>
    </select>
  </div>
</div>

<div class="row mt-5 justify-content-around">
  <div class="col-4" *ngIf="selectedChar1">
    <app-display [selectedChar]="selectedChar1"></app-display>
  </div>
  <div class="col-4" *ngIf="selectedChar2">
    <app-display [selectedChar]="selectedChar2"></app-display>
  </div>
</div>

<div *ngIf="selectedChar1 && selectedChar2" class="d-grid col-6 mx-auto button_container">
  <button class="btn btn-dark btn-lg" (click)="onStartFightButtonClicked()" >Start The Fight</button>
</div>
