<div>
  <h3>Details</h3>

  <mat-list>
    <mat-list-item id="title">Title: {{ selectedTodo?.title }}</mat-list-item>
    <mat-list-item>Status: {{ selectedTodo?.progress }} <a (click)="progressChange()">⏩</a></mat-list-item>
    <mat-list-item>Details: {{ selectedTodo?.description }}</mat-list-item>
    <mat-list-item>Creation date: {{ selectedTodo?.date }}</mat-list-item>
    <mat-list-item>User: {{ nameUser(selectedTodo?.user_id!) }}</mat-list-item>
    <mat-list-item>Email: {{ userEmail(selectedTodo?.user_id!) }}</mat-list-item>
    <mat-list-item>SubTodos:
      <app-todo-item *ngFor="let subtodo of listSubTodos()"
      [subTodo]="subtodo">
    </app-todo-item>
    </mat-list-item>
  </mat-list>
</div>
