<div>
  <h3>Details</h3>

  <ul>
    <li>Title: {{ selectedTodo?.title }}</li>
    <li>Status: {{ selectedTodo?.progress }} <a (click)="progressChange()">⏩</a></li>
    <li>Details: {{ selectedTodo?.description }}</li>
    <li>Creation date: {{ selectedTodo?.date }}</li>
    <li>User: {{ nameUser(selectedTodo?.user_id!) }}</li>
    <li>Email: {{ userEmail(selectedTodo?.user_id!) }}</li>
    <li>SubTodos:
      <app-todo-item *ngFor="let subtodo of listSubTodos()"
      [subTodo]="subtodo">
    </app-todo-item>
    </li>
  </ul>
</div>
