<h2>Details</h2>

<ul *ngIf="details">
  <li>
    {{ details.title }}
  </li>

  <li (click)="nextProgress()">
    {{ details.progress }} ⏩
  </li>

  <li>
    {{ details.description }}
  </li>

  <li>
    {{ details.date }}
  </li>

  <li>
    {{ findUserById(details.userId).name }}
  </li>

  <li>
    {{ findUserById(details.userId).email }}
  </li>
</ul>

<div *ngIf="details">
  <h2 >Sub-todo:</h2>
  <ul>
    <li *ngFor="let subTodo of findSubtodos(details.subTodoIds)">
      {{subTodo.title}}
    </li>
  </ul>
</div>
