<h2>Reactive form with validation 2</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="userId">UserId</label>
    <input
      id="userId"
      class="form-control"
      type="text"
      name="userId"
      placeholder="userId"
      formControlName="userId"
      [class.is-invalid] = "userId.touched && userId.hasError"
    />
    <div *ngIf="userId.errors?.['required']" id="userId" class="invalid-feedback">
      Required field.
    </div>
    <div *ngIf="userId.errors?.['min']" id="userId" class="invalid-feedback">
      The number must be greater than 0.
    </div>
    <div *ngIf="userId.errors?.['max']" id="userId" class="invalid-feedback">
      The number must be smaller than 9999.
    </div>
    <div *ngIf="userId.errors?.['pattern']" id="userId" class="invalid-feedback">
      Id must begin
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<!-- [class.is-invalid] = "userId.touched && userId.errors?.['required'] || userId.errors?.['min'] || userId.errors?.['max']" -->
