<h2>Form Array</h2>

<!-- .controls néven érjük el a child formGroupot-->

<form [formGroup]="form">
    <div class="container mb-4">
        <div class="row" *ngFor="let lessonFormGroup of lessons.controls; let i = index" [formGroup]="getLesson(lessonFormGroup)">
            <div class="col">
                <label class="form-label" for="classInput">Title</label>
                <input class="form-control" type="text" name="" id="classInput" formControlName="title">
            </div>
            <div class="col">
                <label class="form-label" for="levelInput">Level</label>
                <input class="form-control" type="text" name="" id="levelInput" formControlName="level">
            </div>
            <div class="col mt-4">
                <button class="btn btn-danger" (click)="deleteLesson(i)">Delete</button>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary mb-4" type="submit" (click)="onSubmit()">Submit</button>
</form>

<button class="btn btn-primary" (click)="addLesson()">Add</button>
