<h2>Class</h2>

<form [formGroup]="form">
  <div class="form-row">
    <div class="col">
      Class Name
      <div class="row"></div>
      <label class="form-label" for="newClassInput">
        <input id="newClassInput" type="text" placeholder="New Class" />
      </label>
    </div>
      <div class="col">
        Number of Students:
        <div class="row"></div>
        <label class="form-label" for="numberOfStudents"> </label>
        <input
          id="studentInput"
          type="number"
          placeholder="Number of Students"
          ngModel
          max="30"
        />
        <div class="danger danger-alert">{{ numberOfStudents }}</div>
      </div>
    </div>
  <div>
    <div
      class="col-"
      *ngFor="let student of student.controls; let i = index"
      [formGroup]="getStudent(student)"
    >Name
      <label class="form-label" for="nameInput">
        <input id="nameInput" type="text" placeholder="Name" />
      </label>
      <div class="col-">
        <div>Gender
          <label class="form-label" for="genderInput"
            >
            <input id="genderInput" type="text" placeholder="Gender" />
          </label>
        </div>
      </div>
      <div class="col-">
        <div>Email
          <label class="form-label" for="emailInput"
            >
            <input id="emailInput" type="email" placeholder="Email" />
          </label>
        </div>
      </div>
      <div>
        <button class="button2 btn" (click)="deleteStudent(i)">
          Delete
        </button>
      </div>
    </div>
  </div>
  <button class="button1 btn btn-primary mb-4" (click)="addStudent(); onAddStudent()">
    Add Student
  </button>
</form>
