<h3>Login</h3>
<div class="form-group">
  <form
    *ngIf="!authService.getUser()"
    [formGroup]="form"
    (ngSubmit)="loginUser()"
  >
    <label class="mt-3" for="userName">Username</label>
    <input
      class="form-control"
      formControlName="userName"
      type="text"
      id="userName"
      placeholder="Enter username"
    />

    <label class="mt-3" for="password">Password</label>
    <input
      class="form-control"
      formControlName="password"
      type="password"
      id="password"
      placeholder="Enter password"
    />

    <button type="submit" class="btn btn-primary mt-3">Send</button>
  </form>
</div>

<div class="alert alert-danger mt-3" *ngIf="message">
  {{ message }}
</div>

<div *ngIf="authService.getUser()">
  <div class="container">
    Logged in as <strong>{{ authService.getUser() }}</strong>
  </div>
  <button class="btn btn-secondary mt-3" (click)="authService.logout()">
    Log out
  </button>
</div>
