<h2>Reactive form</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="usernameInput">Username</label>
    <input
      id="usernameInput"
      class="form-control"
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="emailInput">Email</label>
    <input
      id="emailInput"
      class="form-control"
      type="text"
      name="email"
      placeholder="Email"
      formControlName="email"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<button class="btn btn-primary" (click)="onClickMyFormValue()">myForm value</button>

<div>
  <h2>Email:</h2>
  <p>{{ myForm.value.email }}</p>
</div>

<button class="btn btn-primary m-2" (click)="erase()">Erase form</button>
<button class="btn btn-primary m-2" (click)="getEmail()">Get email</button>
<button class="btn btn-primary m-2" (click)="resetForm()">Reset form</button>
<button class="btn btn-primary m-2" (click)="setForm()">Set form</button>
<button class="btn btn-primary m-2" (click)="patchValue()">Patch</button>
