<h4>Form reactive</h4>

<!-- #f template variable, ngForm groupot rendelünk hozzá. f - ngForm direktíva -->

<form [formGroup]="myForm"  (ngSubmit)="onSubmit()" class="col-xs-6">
    <div class="mb-3 text-center">
        <label class="form-label col-xs-3" 
                for="usernameInput"></label>
        <input 
            class="form-control col-xs-3" 
            placeholder="username" 
            type="text" 
                id="usernameInput" 
                name="username" 
                formControlName="username">
    </div>

    <div class="mb-3 text-center">
        <label class="form-label col-xs-3" 
                for="emailInput"></label>
        <input 
            class="form-control col-xs-3" 
            placeholder="email" 
            type="text" 
                id="emailInput" 
                name="email" 
                formControlName="email"
               
                >
                <!-- [(ngModel)]="email" -->
       
    </div>

    <button type="submit" class="btn btn-info">Submit</button>
    
</form>
<p> {{myForm.value.email}} </p>
<!-- <p> {{ email }} </p> -->

<button class="btn btn-outline-info my-3" (click)="onClickMyFormValue()"> myForm Value</button>
<button class="btn btn-outline-danger my-3 mx-3" (click)="onErase()"> Erase</button>

<button class="btn btn-outline-primary my-3 mx-3" (click)="getUsername()"> Show username</button>
<button class="btn btn-outline-primary my-3 mx-3" (click)="getEmail()"> Show email</button>

<button class="btn btn-outline-warning my-3 mx-3" (click)="onResetForm()"> Reset Form</button>
<button class="btn btn-outline-warning my-3 mx-3" (click)="onSetForm()"> Set Form</button>
<button class="btn btn-outline-warning my-3 mx-3" (click)="onPatchValue()"> Patch Form</button>




