<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>

    <form [formGroup]="myForm" (ngSubmit)="onCreate()">
        <button class="btn btn-primary">Sign Up</button>
    </form>
    <span style="padding: 30px;">{{ inProgressCounter }}In Progress:1</span>

    <form #navbarForm="ngForm" (ngSubmit)="addTodo(navbarForm.value)" class="navbarForm">
      <div class="newTodoInputContainer">
        <label for="newTodoInput">New Todo:</label>
        <input
          type="text"
          id="newTodoInput"
          class="form-control"
          name="todoTitle"
          placeholder="Name of Todo"
          ngModel
        />
      </div>
      <button type="submit" class="btn btn-primary">Create Todo</button>
    </form>
  </div>


</nav>


