
<nav class="navbar navbar-dark bg-primary" style="margin: auto; max-width: 900px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>

    <form [formGroup]="myForm" (ngSubmit)="onCreate()">
        <label class="form-label" for="titleInput">
          <input id="titleInput"
          class="form-control"
          type="text"
          name="title"
          placeholder="Create Todo"
          formControlName="title"
          [class.error]="myForm.get('title')?.invalid && myForm.get('title')?.touched"
          >
        </label>
        <button type="submit" class="btn btn-primary"> Create Todo</button>
        <p *ngIf="getTodo().touched && getTodo().hasError('min')">
          Must be atleast zero!
        </p>
        <p *ngIf="getTodo().touched && getTodo().hasError('max')">
          No more than 999999!

    </form>
    <h3>
      In progress: {{ counter }}
  </h3>
  </div>

</nav>


