ul {
    list-style-type: none;

}
li{
  margin: 2px;
  background-color: rgb(156, 209, 209);
  width: 41%;
}
button {
  margin: 2px;
}
a {
  text-decoration: none;
  color: black;
}
.delete-button:hover{
  color: red;
}
