li{
    list-style-type: none;
}
button{
    padding: 10px 15px;
    font-size: 14px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}
.add{
    color: whitesmoke;
    background-color: rgb(60, 117, 241);
    border: 2px solid rgb(123, 142, 247);
}
.add:hover{
    background-color: rgb(97, 142, 241);
    border: 2px solid rgb(155, 167, 236);
}
.add:focus{
    background-color: rgb(31, 83, 197);
    border: 2px solid rgb(50, 77, 230);
}
.destroy{
    
    color: whitesmoke;
    background-color: rgb(241, 60, 60);
    border: 2px solid rgb(241, 60, 60);
    
}
.destroy:hover{
    border: 2px solid rgb(235, 111, 111);
    background-color: rgb(224, 44, 44);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.274);


}
.destroy:focus{
    border: 2px solid rgb(233, 68, 68);
    background-color: rgb(238, 80, 80);
}