
<p>Items count: {{ itemsCount }} </p> 
<!-- {{}} javascript expression -->

<button (click)="addItem()">Add item</button>
<button (click)="addPlusItem()">Add item</button>
<button (click)="removeItem()">Remove Item</button>


<ul>
    <li *ngFor="let itemElem of items; let i = index"> {{ itemElem }}
        <!-- <button (click)="removeItem()">X</button> -->
        <button (click)="deleteItem( itemElem)">X</button>
    </li>
</ul>

    <ul>
    <h4>Páros ToDo:</h4>
    <li 
        *ngFor="let evenItem of items; let i = index"
        > 
        <div *ngIf="(i+1) % 2 === 0">{{ evenItem }}</div>

        </li>
    </ul>

   
        <h4>Class binding ToDo:</h4>
        <ul [class.todoMoreThanEight]="onTodoMoreThanEight">
          <li 
            *ngFor="let itemElem of items; let i = index" 
            [class.greyBg]="i % 2 === 1" 
            [class.prime]="isPrime(i+1)">
              {{ itemElem }}
          </li>
        </ul>
   




