<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Todo manager</span>
    <span class="navbar-brand mb-0 h1">In progress: {{countInProgressTodos()}}</span>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th (click)="sortProgress()">Progress
              <span *ngIf="isAscending">⬆️</span>
              <span *ngIf="!isAscending">⬇️</span>
            </th>
            <th>Date</th>
            <th>User id</th>
          </tr>
        </thead>
        <tbody>
          <tr app-todo-item *ngFor="let item of todos" [todoItem]="item" (click)="showTodoDetails(item)"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

