<!--
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th (click)="this.todoService.sortProgress()">Progress
              <span *ngIf="this.todoService.isAscending">⬆️</span>
              <span *ngIf="!this.todoService.isAscending">⬇️</span>
            </th>
            <th>Date</th>
            <th>User id</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr app-todo-item *ngFor="let item of this.todoService.todos" [todoItem]="item" (click)="showTodoDetails(item)"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<table mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>
      Title
      <span *ngIf="this.todoService.isAscending">⬆️</span>
      <span *ngIf="!this.todoService.isAscending">⬇️</span>
    </th>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th
      mat-header-cell
      *matHeaderCellDef
      (click)="this.todoService.sortProgress()"
    >
      Progress
    </th>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User id</th>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
  </ng-container>

  <tbody>
    <tr
    mat-row
    app-todo-item
    *ngFor="let item of this.todoService.todos"
    [todoItem]="item"
    (click)="showTodoDetails(item)"
  ></tr>
  </tbody>
  <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
  <tr mat-row *matRowDef="let row; columns: columndefs"></tr>
</table>
