.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 344px;
  height: 442px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.card-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 344px;
  height: 213px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 164px;
  height: 213px;

  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
img {
  width: 164px;
  height: 113px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.card-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  gap: 8px;

  width: 164px;
  height: 36px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.card-description-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 8px;
  gap: 8px;

  width: 164px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.card-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;

  width: 164px;
  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}
h5 {
  width: 148px;
  height: 28px;

  /* v-text/subtitle-1 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  /* identical to box height, or 187% */

  letter-spacing: 0.15px;

  /* black/0.87 */

  color: rgba(0, 0, 0, 0.87);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
small {
  width: 148px;
  height: 20px;

  /* v-text/caption */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  letter-spacing: 0.4px;

  /* black/0.6 */

  color: rgba(0, 0, 0, 0.6);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 16px;

  width: 73px;
  height: 28px;

  /* custom/primary */

  background: #3f51b5;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
}
