<div class="card-container">
  <div class="card-group" *ngFor="let item of cardImages">
    <div class="card">
      <img src="{{ item.cardImgUrl }}" />
      <div class="card-title-container">
        <h5>{{ item.cardTitle }}</h5>
      </div>

      <div class="card-description-container">
        <small>{{ item.cardDescription }}</small>
      </div>

      <div class="card-btn-container"><button (click)="bookingService()">BOOK</button></div>
    </div>
    <div class="card">
      <img src="{{ item.cardImgUrl2 }}"/>

      <div class="card-title-container">
        <h5>{{ item.cardTitle2 }}</h5>
      </div>

      <div class="card-description-container">
        <small>{{ item.cardDescription2 }}</small>
      </div>

      <div class="card-btn-container"><button (click)="bookingService()">BOOK</button></div>
    </div>
  </div>
</div>
