<div class="container-fluid">
  <h1 class="text-center">Sign in</h1>
  <mat-divider></mat-divider>
  <div class="row justify-content-center">
    <div class="form-group col-md-4 col-md-offset-5 align-center">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            type="text"
            id="username"
            matInput
            formControlName="username"
            placeholder="Enter a username"
          />
          <mat-error *ngIf="username.touched && username.hasError('required')"
            >Username is required</mat-error
          >
          <mat-error *ngIf="username.touched && username.hasError('maxlength')"
            >Username can be max 20 characters long</mat-error
          >
          <mat-error *ngIf="username.touched && username.hasError('minlength')"
            >Username must be minimum 4 characters long</mat-error
          >
          <mat-error *ngIf="username.touched && username.hasError('pattern')"
            >Username must start with A-Z or a-z</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            type="text"
            id="firstName"
            matInput
            formControlName="firstName"
            placeholder="Enter your first name"
          />
          <mat-error *ngIf="firstName.touched && firstName.hasError('required')"
            >First name is required</mat-error
          >
          <mat-error
            *ngIf="firstName.touched && firstName.hasError('maxlength')"
            >First name can be max 20 characters long</mat-error
          >
          <mat-error
            *ngIf="firstName.touched && firstName.hasError('minlength')"
            >First name must be minimum 4 characters long</mat-error
          >
          <mat-error *ngIf="firstName.touched && firstName.hasError('pattern')"
            >First name must start with capital letter</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            type="text"
            id="lastName"
            matInput
            formControlName="lastName"
            placeholder="Enter your last name"
          />
          <mat-error *ngIf="lastName.touched && lastName.hasError('required')"
            >Last name is required</mat-error
          >
          <mat-error *ngIf="lastName.touched && lastName.hasError('maxlength')"
            >Last name can be max 20 characters long</mat-error
          >
          <mat-error *ngIf="lastName.touched && lastName.hasError('minlength')"
            >Last name must be minimum 4 characters long</mat-error
          >
          <mat-error *ngIf="lastName.touched && lastName.hasError('pattern')"
            >Last name must start with capital letter</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Zip number</mat-label>
          <input
            type="number"
            id="zipNumber"
            matInput
            formControlName="zipNumber"
            placeholder="Enter your zip number"
          />
          <mat-error *ngIf="zipNumber.touched && zipNumber.hasError('required')"
            >Zip number is required</mat-error
          >
          <mat-error *ngIf="zipNumber.touched && zipNumber.hasError('min')"
            >Zip number must be minimum 1000</mat-error
          >
          <mat-error *ngIf="zipNumber.touched && zipNumber.hasError('max')"
            >Zip number can be maximum 9999</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            id="password"
            matInput
            formControlName="password"
            placeholder="Enter your password"
          />
          <mat-error *ngIf="password.touched && password.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error *ngIf="password.touched && password.hasError('maxlength')"
            >Password can be max 12 characters long</mat-error
          >
          <mat-error *ngIf="password.touched && password.hasError('minlength')"
            >Password must be minimum 8 characters long</mat-error
          >
          <mat-error *ngIf="password.touched && password.hasError('pattern')"
            >PPassword must contain at least one uppercase letter, one lowercase
            letter, one number and one special character</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            id="confirmPassword"
            matInput
            formControlName="confirmPassword"
            placeholder="Enter your password again"
          />
          <mat-error
            *ngIf="
              confirmPassword.touched &&
              confirmPassword.hasError('invalidPassword')
            "
            >Passwords do not match</mat-error
          >
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
