/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html {
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 0;
  margin:  0;
}
