.navigation-bar {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(231, 229, 229);
}

.input-div {
    padding-top: 12px;
}

h1, h3 {
    margin: 0
}

p {
    margin-bottom: 0;
}

button {
    height: 40px;
}
