<nav class="navigation-bar">
    <a  class="navbar-brand" [routerLink]="['/']">
        <h1>Best Todo App</h1>
    </a>
    <button mat-raised-button color="accent" [routerLink]="['/signup']">Sign In</button>
    <form [formGroup]="myForm" (ngSubmit)="onAddTodo()">
        <div class="d-flex input-div" style="gap: 10px">
            <mat-form-field class="d-flex align-items-center" style="gap: 10px">
                <mat-label for="newTodoInput">Todo:</mat-label>
                <input
                    matInput
                    [class.is-invalid] = "myForm.get('title')?.invalid && myForm.get('username')?.touched"
                    type="text" 
                    id="newTodoInput" 
                    name="newTodo" 
                    placeholder="Todo title"
                    formControlName="title">
                <div>
                    <mat-error *ngIf="myForm.get('title')?.invalid && myForm.get('title')?.touched && myForm.get('title')?.hasError('required')">
                        Required field!
                    </mat-error>
                    <mat-error *ngIf="myForm.get('title')?.invalid && myForm.get('title')?.hasError('minlength')">
                        Must be atleast 4 characters!
                    </mat-error>
                    <mat-error *ngIf="myForm.get('title')?.invalid && myForm.get('title')?.hasError('maxlength')">
                        Must be max 15 characters!
                    </mat-error>
                </div>
            </mat-form-field>
            <button mat-raised-button color="accent" [disabled]="myForm.invalid" type="submit">Add Todo</button>
        </div>
    </form>
    <h3>
        In progress: {{ count }}
    </h3>
</nav>
