<h2>Custom validation</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="usernameInput">Username*</label>
    <input
      id="usernameInput"
      class="form-control"
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
      [class.is-invalid]="userName.invalid && userName.touched"
    />
    <ng-container *ngFor="let error of getErrorMessages(userName)">
      <p class="invalid-feedback" *ngIf="userName?.touched">
        {{ error }}
      </p>
    </ng-container>
  </div>

  <div class="mb-3">
    <label class="form-label" for="passwordInput">Password*</label>
    <input
      id="passwordInput"
      class="form-control"
      type="password"
      name="password"
      placeholder="password"
      formControlName="password"
      [class.is-invalid]="password.invalid && password.touched"
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="passwordReInput">Password re*</label>
    <input
      id="passwordReInput"
      class="form-control"
      type="password"
      name="passwordRe"
      placeholder="passwordRe"
      formControlName="passwordre"
      [class.is-invalid]="passwordRe.invalid && passwordRe.touched"
    />
    <p
      class="invalid-feedback"
      *ngIf="myForm.get('passwordre')?.hasError('invalidPassword')"
    >
      Passwords must be the same!
    </p>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
