<nav class="navbar navbar-expand-lg p-2 shadow">
  <a class="navbar-brand" href="#">Http-Rxjs</a>
  <div class="container-fluid">
    <div class="navbar-nav">
      <a [routerLink]="['/1_feladat']" class="navbar-link m-2">1.feladat</a>
      <a [routerLink]="['/2_feladat']" class="navbar-link m-2">2.feladat</a>
      <a [routerLink]="['/3_feladat']" class="navbar-link m-2">3.feladat</a>
      <a [routerLink]="['/4_feladat']" class="navbar-link m-2">4.feladat</a>
      <a [routerLink]="['/5_feladat']" class="navbar-link m-2">5.feladat</a>
    </div>
  </div>
</nav>

<div class="container my-4">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>