@import '../../../../../assets/styles/variables';

button {
    height: 40px;
    width: 100%;
    background-color: $secondColor;
    color: $secondTextColor;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;

    &:hover {
        background-color: $mainColor;
        color: $secondTextColor;
        border: none;
    }
    &:active {
        margin-left: 1px 1px 0;
        box-shadow: -1px -1px 1px #000;
        outline: 1px solid black;
    }
    &:disabled,
    &[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
}
