<table class="table">
  <thead>
    <tr>
      <th class="col">Id</th>
      <th class="col">Title</th>
      <th class="col">Progress</th>
      <th class="col">Username</th>
      <th class="col">View details</th>
      <th class="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="centerThis"
      (clickedElement)="selectedTodoHandler($event)"
      [class.begrey]="isSecond(item.id)"
      app-todo-item
      *ngFor="let item of items; let i = index"
      [todo]="item"
      (deleteItemFromTable)="removeThisItem($event)"
    ></tr>
  </tbody>
</table>
<div *ngIf="toDoElementSelected">
  <app-todo-details [todoItem]="selectedTodo" (closeItem)="closeTheDetails($event)"></app-todo-details>
</div>
