<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th class="col">Id</th>
      <th class="col">Title</th>
      <th class="col">
        Progress <span (click)="(todoService.sortAscending())">🔼</span>
        <span (click)="(todoService.sortDescending())" type>🔽</span>
      </th>
      <th class="col">Username</th>
      <th class="col">View details</th>
      <th class="col">Remove</th>
      <th class="col">Update Status</th>
    </tr>
  </thead>
  <tbody app-todo-item></tbody>
</table>

<div *ngIf="todoService.toDoElementSelected">
  <app-todo-details
    [todoItem]="todoService.selectedTodo"
    (closeItem)="todoService.closeTheDetails($event)"
    (elementProgress)="todoService.updateProgressOfitem($event)"
  ></app-todo-details>
</div>
