<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <span class="navbar-brand mb-0 h1">Todo App</span>
      <form [formGroup]="myForm" (ngSubmit)="handler()">
        <label class="form-label" for="titleInput">Todo Title: </label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="titleInput"
          placeholder="title"
          formControlName="title"
        />
        <div id="titleInput" class="text-danger" *ngIf="title.hasError('required') && title.touched === true">Required field</div>
        <div class="text-danger" *ngIf="title.hasError('minlength') && title.pristine === false">The title must have atleast 3 or more characters!</div>
        <div class="text-danger" *ngIf="title.hasError('maxlength') && title.pristine === false">The Title cannot contain more than 15 characters!!</div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </li>
  </ul>
  <div class="my-2 my-lg-0">
    <button class="btn btn-primary" (click)="movetoSignIn()">Sign In</button>
    <span class="navbar-text"> Current todos: {{ numberofTodos }} </span>
  </div>
</nav>


<!--
/[a-zA-Z0-9]/.test("asd3")
true
/^\d+$/.test("12353")
true
/^..\d.*/.test("as3aasdasdd")
true
/^.*[?!.]$/.test("asdsadaasda!!.sd")
false
/^\d+$/.test("12353")
true
/^[A-Za-z]+$/.test("asdSDVVaadsdvaasVSDV!!!2324634")
false
/^[A-Z].*[a-z]$/.test("A24234a")
true
/^[0-9].*[a-z]$/.test("12A24234a")
true
/^[a-z][0-9][a.z].*@$/.test("a2a4234a@")
true
/^[a-z][0-9]+[a-z]+@$/.test("a222222aaaaaa@")
true
/^[A-Z][a-z]+\s[A-Z][a-z]+/.test("Aaaa Aaa")
true
/^[A-Z][a-z]+\s[A-Z][a-z]+/.test("Aaaa Aaa")
true
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test("valami@gmail.com")

true
/^[A-Za-z0-9]+@{1}[a-z]+[.]{1}[a-z]+$/.test("valami@gmail.com")
true -->
