<h2>Form with Validation</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb3">
        <label class="form-label" for="usernameInput">Username</label>
        <input
        id="usernameInput"
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
        formControlName="username"
        [class.error]="myForm.get('username')?.invalid && myForm.get('username')?.touched"
        />

    </div>

    <div class="mb3">
      <label class="form-label" for="emailInput">Email</label>
        <input
        id="emailInput"
        class="form-control"
        type="text"
        name="emailaddress"
        placeholder="Email"
        formControlName="emailaddress"
        [class.error]="myForm.get('emailaddress')?.invalid && myForm.get('emailaddress')?.touched"

        />
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<hr>
Form status: {{myForm.status}}
