h2 {
    text-align: center;
    margin: 30px auto;
}

.list{
    margin: auto;
    text-align: center;
}

.btn-primary {
    margin-bottom: 30px;
}

table {
    width: 1000px;
}

.bgGrey{
    background-color: grey;
}

.details-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-div {
    margin: 30px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    width: 100px;
    font-weight: bold;
}

input, textarea, select {
    width: 300px;
}

.table-container {
    display: flex;
    gap: 20px;
    justify-content: center;
       
}

table {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

td, tr, th, tbody{
    border: none;
}

.delete-buttons{
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
