<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">progress</th>
                    <th scope="col">user name</th>
                </tr>
            </thead>
            <tbody>
                <tr
                app-todo-item
                *ngFor="let todo of todos; let i = index"
                (selectMe)="selectTodo($event)"
                [todo]="todo"
                [users]="users"
                [class.bgGrey]="i % 2 === 0" 
                ></tr>
            </tbody>
        </table>
        <div
            *ngIf="isTodoSelected"
            class="row">
                <div class="col-xs-12">
                        <h2>Details</h2>
                        <app-todo-details [selectedToDo]="selectedTodo" [users]="users"></app-todo-details>
                </div>
        </div>
    </div>
</div>
