h2 {
    text-align: center;
    margin: 30px auto
}

form {
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.sign-up-card {
    margin: 0 auto;
    width: 50%;
}