li {
    list-style: none;
}

.container {
    margin-top:50px ;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    border: 4px dashed rgb(233, 206, 172);
    background-color: rgba(233, 206, 172, 0.5);
    padding: 50px;
    font-weight: 700;

    
}

.backgroundColor {
    width: 40%;
    height: 100%;
    
    opacity: 50%;
}

.age-error{
    background-color:rgb(236, 42, 42);
    color: white;
    padding: 5px;
    padding-left:0.7em;
    border-radius: 10px;
    text-align: left;
}