<nav>
    <div class="navbar-div">
        <ul class="navbar-nav" mr-auto>
            <li class="link-item-div">
                <a class="nav-link-custom" routerLink="task1" routerLinkActive="router-link-active">1. feladat</a>
            </li>
            <li class="link-item-div">
                <a class="nav-link-custom" routerLink="task2" routerLinkActive="router-link-active">2. feladat</a>
            </li>
            <li class="link-item-div">
                <a class="nav-link-custom" routerLink="sticky-notes" routerLinkActive="router-link-active">Sticky Notes</a>
            </li>
            <li class="link-item-div">
                <a class="nav-link-custom" routerLink="accordion" routerLinkActive="router-link-active">Accordion</a>
            </li>
            <li class="link-item-div">
                <a class="nav-link-custom" routerLink="grid-example" routerLinkActive="router-link-active">Grid example</a>
            </li>
        </ul>
        <button (click)="logout()"><span>Logout </span></button>
    </div>
</nav>
