<div class="row my-3">
    <div class="row">
      <h4>Choose the characters: </h4>
      <div class="col-6">
        <select (change)="onSelectC01($event)"
        class="form-control"
        >
        <option *ngFor="let char of chars$ | async">
          {{ char.name }}
        </option>
        </select>
      </div>

      <div class="col-6">
        <select (change)="onSelectC02($event)"
        class="form-control"
        >
        <option *ngFor="let char of chars$ | async">
          {{ char.name }}
        </option>
        </select>
      </div>
    </div>

    
    <div class="row">
      <div class="col-6" >
        <h3>{{selectedC01?.name}}</h3>
        <p>Hp: {{selectedC01?.hp}}</p>
        <p>Attack: {{selectedC01?.attack}}</p>
        <p>Defense: {{selectedC01?.defense}}</p>
      </div>
      
      <div class="col-6" >
        <h3> {{selectedC02?.name}}</h3>
        <p >Hp: {{selectedC02?.hp}}</p>
        <p >Attack: {{selectedC02?.attack}}</p>
        <p >Defense: {{selectedC02?.defense}}</p>
      </div>
    </div>

    <div class="row my-3">
    <div class="col-9 text-center field">
      <button class="btn btn-danger" (click)="onAttack()">A T T A C K</button>
  </div>
    
