.messageBox{
    position: fixed;
    width: 30%;
    height: 30vh;
    bottom: 2vh;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.337);
    border-radius: 5px;
    flex-direction: column;
}
