/* You can add global styles to this file, and also import other style files */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: sans-serif;
    
}
body{
    max-width: 1000px;
    margin: auto;
}