<!-- <app-display-area [historyText]="historyText"></app-display-area>

<button (click)="onAttackClicked()">Támadás!</button> -->
<div class="card" style="width: 100%;">
  <div class="card-header">
    {{ selectedChar.name }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Attack: {{ selectedChar.attack }}</li>
    <li class="list-group-item">Defense: {{ selectedChar.defense }}</li>
    <li class="list-group-item">Hp: {{ selectedChar.hp }}</li>
  </ul>
</div>
