<div class="alignment-container">
    <div class="horizontal-alignment-div">
        <div class="icon-img-div" (click)="setHorizontalAlignment('start')">
            <img src="assets/images/left-align.png" alt="">
        </div>
        <div class="icon-img-div" (click)="setHorizontalAlignment('end')">
            <img src="assets/images/right-align.png" alt="">
        </div>
        <div class="icon-img-div" (click)="setHorizontalAlignment('center')">
            <img src="assets/images/center-align.png" alt="">
        </div>
        <div class="icon-img-div" (click)="setHorizontalAlignment('space-between')">
            <img src="assets/images/justification.png" alt="">
        </div>
    </div>
    <div>
        <div>
            <img src="assets/images/line.png" alt="">
        </div>
    </div>
    <div class="horizontal-alignment-div">
        <div class="icon-img-div" (click)="setVerticalAlignment('flex-start')">
            <img src="assets/images/top-alignment.png" alt="">
        </div>
        <div class="icon-img-div" (click)="setVerticalAlignment('flex-end')">
            <img src="assets/images/bottom-alignment.png" alt="">
        </div>
        <div class="icon-img-div" (click)="setVerticalAlignment('center')">
            <img src="assets/images/vertical-alignment.png" alt="">
        </div>
        <div class="icon-img-div" (click)="setVerticalAlignment('space-around')">
            <img src="assets/images/distribute.png" alt="">
        </div>
    </div>
</div>
