.alignment-container {
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
}

.horizontal-alignment-div {
    display: flex;
    gap: 15px;
}

img {
    width: 30px;
    height: 30px;
}
.icon-img-div {
    cursor: pointer;
}