<div class="container">
  <div class="row mt-4">
    <div class="col">
      <table class="table table-striped">
        <thead class="bg-warning">
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList$ | async">
            <td scope="col">{{ user.id }}</td>
            <td scope="col">{{ user.name }}</td>
            <td scope="col">{{ user.username }}</td>
            <td scope="col">{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
