<nav class="navbar navbar-light bg-info">
    <a class="navbar-brand mx-3" [routerLink]="['users']">Users</a>
    <button class="btn btn-outline-primary mx-3" [routerLink]="['subpage']"> Random user 1 </button>
    <button class="btn btn-outline-primary mx-3" [routerLink]="['randomuser']"> Random user 2 </button>
    <button class="btn btn-outline-primary mx-3" [routerLink]="['randomuser3']"> Random user 3 </button>
    <button class="btn btn-outline-primary mx-3" [routerLink]="['album']"> Album </button>
    <p>morning</p>
</nav>
