<!-- <form class="form-inline d-flex" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <label class="form-label navbar-text" for="titleInput">Title: </label>
  <input
    id="titleInput"
    type="text"
    class="form-control"
    name="title"
    placeholder="Please enter title"
    ngModel
  />
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<form class="form-inline d-flex" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label class="form-label navbar-text" for="titleInput">Title: </label>
  <input
    [class.is-invalid]="titleName.touched && titleName.invalid"
    id="titleInput"
    type="text"
    class="form-control"
    name="title"
    placeholder="Please enter title"
    formControlName="title"
    required
  />
  <p
    class="invalid-feedback"
    *ngIf="titleName.touched && titleName.hasError('required')"
  >
    Title is required
  </p>
  <p class="invalid-feedback" *ngIf="titleName.hasError('maxlength')">
    Title is too long
  </p>
  <p class="invalid-feedback" *ngIf="titleName.hasError('minlength')">
    Title is too short
  </p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
